[Unit]
Description=Admin Server Refresh
Requires=network-online.target refresh-repo-startup.service infrastructure-refresh.service
After=network-online.target refresh-repo-startup.service infrastructure-refresh.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root
User=root

ExecStart=/root/baroboys/scripts/services/admin_server/refresh.sh

SuccessExitStatus=0
KillMode=control-group
TimeoutStartSec=300

StandardOutput=append:/var/log/baroboys/admin_server.log
StandardError=append:/var/log/baroboys/admin_server.log

[Install]
WantedBy=multi-user.target
