.idea
.secrets/
.secrets/europan-world-terraform-key.json
id_ecdsa
id_ecdsa.pub
scripts/manual/save-decompressor/Barotrauma-Save-Decompressor.lnk

# logs
*.log

# Directories
terraform/.terraform/

# This is where I keep my uncompressed save.
# To recude chances of copying the wrong version we want to clean this up every time.
Barotrauma/Multiplayer/Baroboys

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*.tfstate*

# Ignore Mac .DS_Store files
.DS_Store

# Packer
.packer.d

# Barofiles
Barotrauma/Concentus_LICENSE
Barotrauma/Content/
Barotrauma/Data/campaignsettings.xml
Barotrauma/Data/forbiddenwordlist.txt
Barotrauma/Data/karmasettings.xml
Barotrauma/Data/permissionpresets.xml
Barotrauma/DedicatedServer
Barotrauma/DedicatedServer.deps.json
Barotrauma/DedicatedServer.dll
Barotrauma/DedicatedServer.exe
Barotrauma/DedicatedServer.pdb
Barotrauma/DedicatedServer.runtimeconfig.json
Barotrauma/Facepunch.Steamworks.Posix64.dll
Barotrauma/Facepunch.Steamworks.Posix64.pdb
Barotrauma/Facepunch.Steamworks.Posix64.xml
Barotrauma/Farseer.NetStandard.dll
Barotrauma/Farseer.NetStandard.pdb
Barotrauma/Hyper.ComponentModel.NetStandard.dll
Barotrauma/Hyper.ComponentModel.NetStandard.pdb
Barotrauma/Icon.ico
Barotrauma/Lidgren.NetStandard.dll
Barotrauma/Lidgren.NetStandard.pdb
Barotrauma/LocalMods/info.txt
Barotrauma/Microsoft.CSharp.dll
Barotrauma/Microsoft.VisualBasic.Core.dll
Barotrauma/Microsoft.VisualBasic.dll
Barotrauma/Microsoft.Win32.Primitives.dll
Barotrauma/Microsoft.Win32.Registry.dll
Barotrauma/Multiplayer/Multiplayer
Barotrauma/OpenALSoft_LICENSE
Barotrauma/README.txt
Barotrauma/RestSharp.dll
Barotrauma/SOS_README.md
Barotrauma/ServerLogs/
Barotrauma/System.AppContext.dll
Barotrauma/System.Buffers.dll
Barotrauma/System.Collections.Concurrent.dll
Barotrauma/System.Collections.Immutable.dll
Barotrauma/System.Collections.NonGeneric.dll
Barotrauma/System.Collections.Specialized.dll
Barotrauma/System.Collections.dll
Barotrauma/System.ComponentModel.Annotations.dll
Barotrauma/System.ComponentModel.DataAnnotations.dll
Barotrauma/System.ComponentModel.EventBasedAsync.dll
Barotrauma/System.ComponentModel.Primitives.dll
Barotrauma/System.ComponentModel.TypeConverter.dll
Barotrauma/System.ComponentModel.dll
Barotrauma/System.Configuration.dll
Barotrauma/System.Console.dll
Barotrauma/System.Core.dll
Barotrauma/System.Data.Common.dll
Barotrauma/System.Data.DataSetExtensions.dll
Barotrauma/System.Data.dll
Barotrauma/System.Diagnostics.Contracts.dll
Barotrauma/System.Diagnostics.Debug.dll
Barotrauma/System.Diagnostics.DiagnosticSource.dll
Barotrauma/System.Diagnostics.FileVersionInfo.dll
Barotrauma/System.Diagnostics.Process.dll
Barotrauma/System.Diagnostics.StackTrace.dll
Barotrauma/System.Diagnostics.TextWriterTraceListener.dll
Barotrauma/System.Diagnostics.Tools.dll
Barotrauma/System.Diagnostics.TraceSource.dll
Barotrauma/System.Diagnostics.Tracing.dll
Barotrauma/System.Drawing.Primitives.dll
Barotrauma/System.Drawing.dll
Barotrauma/System.Dynamic.Runtime.dll
Barotrauma/System.Formats.Asn1.dll
Barotrauma/System.Globalization.Calendars.dll
Barotrauma/System.Globalization.Extensions.dll
Barotrauma/System.Globalization.Native.so
Barotrauma/System.Globalization.dll
Barotrauma/System.IO.Compression.Brotli.dll
Barotrauma/System.IO.Compression.FileSystem.dll
Barotrauma/System.IO.Compression.Native.a
Barotrauma/System.IO.Compression.Native.so
Barotrauma/System.IO.Compression.ZipFile.dll
Barotrauma/System.IO.Compression.dll
Barotrauma/System.IO.FileSystem.AccessControl.dll
Barotrauma/System.IO.FileSystem.DriveInfo.dll
Barotrauma/System.IO.FileSystem.Primitives.dll
Barotrauma/System.IO.FileSystem.Watcher.dll
Barotrauma/System.IO.FileSystem.dll
Barotrauma/System.IO.IsolatedStorage.dll
Barotrauma/System.IO.MemoryMappedFiles.dll
Barotrauma/System.IO.Pipes.AccessControl.dll
Barotrauma/System.IO.Pipes.dll
Barotrauma/System.IO.UnmanagedMemoryStream.dll
Barotrauma/System.IO.dll
Barotrauma/System.Linq.Expressions.dll
Barotrauma/System.Linq.Parallel.dll
Barotrauma/System.Linq.Queryable.dll
Barotrauma/System.Linq.dll
Barotrauma/System.Memory.dll
Barotrauma/System.Native.a
Barotrauma/System.Native.so
Barotrauma/System.Net.Http.Json.dll
Barotrauma/System.Net.Http.Native.a
Barotrauma/System.Net.Http.Native.so
Barotrauma/System.Net.Http.dll
Barotrauma/System.Net.HttpListener.dll
Barotrauma/System.Net.Mail.dll
Barotrauma/System.Net.NameResolution.dll
Barotrauma/System.Net.NetworkInformation.dll
Barotrauma/System.Net.Ping.dll
Barotrauma/System.Net.Primitives.dll
Barotrauma/System.Net.Quic.dll
Barotrauma/System.Net.Requests.dll
Barotrauma/System.Net.Security.Native.a
Barotrauma/System.Net.Security.Native.so
Barotrauma/System.Net.Security.dll
Barotrauma/System.Net.ServicePoint.dll
Barotrauma/System.Net.Sockets.dll
Barotrauma/System.Net.WebClient.dll
Barotrauma/System.Net.WebHeaderCollection.dll
Barotrauma/System.Net.WebProxy.dll
Barotrauma/System.Net.WebSockets.Client.dll
Barotrauma/System.Net.WebSockets.dll
Barotrauma/System.Net.dll
Barotrauma/System.Numerics.Vectors.dll
Barotrauma/System.Numerics.dll
Barotrauma/System.ObjectModel.dll
Barotrauma/System.Private.CoreLib.dll
Barotrauma/System.Private.DataContractSerialization.dll
Barotrauma/System.Private.Uri.dll
Barotrauma/System.Private.Xml.Linq.dll
Barotrauma/System.Private.Xml.dll
Barotrauma/System.Reflection.DispatchProxy.dll
Barotrauma/System.Reflection.Emit.ILGeneration.dll
Barotrauma/System.Reflection.Emit.Lightweight.dll
Barotrauma/System.Reflection.Emit.dll
Barotrauma/System.Reflection.Extensions.dll
Barotrauma/System.Reflection.Metadata.dll
Barotrauma/System.Reflection.Primitives.dll
Barotrauma/System.Reflection.TypeExtensions.dll
Barotrauma/System.Reflection.dll
Barotrauma/System.Resources.Reader.dll
Barotrauma/System.Resources.ResourceManager.dll
Barotrauma/System.Resources.Writer.dll
Barotrauma/System.Runtime.CompilerServices.Unsafe.dll
Barotrauma/System.Runtime.CompilerServices.VisualC.dll
Barotrauma/System.Runtime.Extensions.dll
Barotrauma/System.Runtime.Handles.dll
Barotrauma/System.Runtime.InteropServices.RuntimeInformation.dll
Barotrauma/System.Runtime.InteropServices.WindowsRuntime.dll
Barotrauma/System.Runtime.InteropServices.dll
Barotrauma/System.Runtime.Intrinsics.dll
Barotrauma/System.Runtime.Loader.dll
Barotrauma/System.Runtime.Numerics.dll
Barotrauma/System.Runtime.Serialization.Formatters.dll
Barotrauma/System.Runtime.Serialization.Json.dll
Barotrauma/System.Runtime.Serialization.Primitives.dll
Barotrauma/System.Runtime.Serialization.Xml.dll
Barotrauma/System.Runtime.Serialization.dll
Barotrauma/System.Runtime.WindowsRuntime.UI.Xaml.dll
Barotrauma/System.Runtime.WindowsRuntime.dll
Barotrauma/System.Runtime.dll
Barotrauma/System.Security.AccessControl.dll
Barotrauma/System.Security.Claims.dll
Barotrauma/System.Security.Cryptography.Algorithms.dll
Barotrauma/System.Security.Cryptography.Cng.dll
Barotrauma/System.Security.Cryptography.Csp.dll
Barotrauma/System.Security.Cryptography.Encoding.dll
Barotrauma/System.Security.Cryptography.Native.OpenSsl.a
Barotrauma/System.Security.Cryptography.Native.OpenSsl.so
Barotrauma/System.Security.Cryptography.OpenSsl.dll
Barotrauma/System.Security.Cryptography.Primitives.dll
Barotrauma/System.Security.Cryptography.X509Certificates.dll
Barotrauma/System.Security.Principal.Windows.dll
Barotrauma/System.Security.Principal.dll
Barotrauma/System.Security.SecureString.dll
Barotrauma/System.Security.dll
Barotrauma/System.ServiceModel.Web.dll
Barotrauma/System.ServiceProcess.dll
Barotrauma/System.Text.Encoding.CodePages.dll
Barotrauma/System.Text.Encoding.Extensions.dll
Barotrauma/System.Text.Encoding.dll
Barotrauma/System.Text.Encodings.Web.dll
Barotrauma/System.Text.Json.dll
Barotrauma/System.Text.RegularExpressions.dll
Barotrauma/System.Threading.Channels.dll
Barotrauma/System.Threading.Overlapped.dll
Barotrauma/System.Threading.Tasks.Dataflow.dll
Barotrauma/System.Threading.Tasks.Extensions.dll
Barotrauma/System.Threading.Tasks.Parallel.dll
Barotrauma/System.Threading.Tasks.dll
Barotrauma/System.Threading.Thread.dll
Barotrauma/System.Threading.ThreadPool.dll
Barotrauma/System.Threading.Timer.dll
Barotrauma/System.Threading.dll
Barotrauma/System.Transactions.Local.dll
Barotrauma/System.Transactions.dll
Barotrauma/System.ValueTuple.dll
Barotrauma/System.Web.HttpUtility.dll
Barotrauma/System.Web.dll
Barotrauma/System.Windows.dll
Barotrauma/System.Xml.Linq.dll
Barotrauma/System.Xml.ReaderWriter.dll
Barotrauma/System.Xml.Serialization.dll
Barotrauma/System.Xml.XDocument.dll
Barotrauma/System.Xml.XPath.XDocument.dll
Barotrauma/System.Xml.XPath.dll
Barotrauma/System.Xml.XmlDocument.dll
Barotrauma/System.Xml.XmlSerializer.dll
Barotrauma/System.Xml.dll
Barotrauma/System.dll
Barotrauma/TempMods_Upload/
Barotrauma/WindowsBase.dll
Barotrauma/WorkshopMods/WorkshopMods
Barotrauma/XNATypes.dll
Barotrauma/XNATypes.pdb
Barotrauma/changelog.txt
Barotrauma/createdump
Barotrauma/daedalic_privacypolicy.txt
Barotrauma/hintmanager.xml
Barotrauma/libSystem.Globalization.Native.so
Barotrauma/libSystem.IO.Compression.Native.so
Barotrauma/libSystem.Native.so
Barotrauma/libSystem.Net.Security.Native.so
Barotrauma/libSystem.Security.Cryptography.Native.OpenSsl.so
Barotrauma/libclrjit.so
Barotrauma/libcoreclr.so
Barotrauma/libcoreclrtraceptprovider.so
Barotrauma/libdbgshim.so
Barotrauma/libhostfxr.so
Barotrauma/libhostpolicy.so
Barotrauma/liblinux_steam_env.so
Barotrauma/libmscordaccore.so
Barotrauma/libmscordbi.so
Barotrauma/libsteam_api.dylib
Barotrauma/libsteam_api64.dylib
Barotrauma/libsteam_api64.so
Barotrauma/linux64/
Barotrauma/mscorlib.dll
Barotrauma/netstandard.dll
Barotrauma/steamapps/
Barotrauma/steamclient.so
Barotrauma/WorkshopMods/Installed

# Ignore V Rising extracted binaries and runtime content
VRising/GameAssembly.dll
VRising/README.txt
VRising/UnityCrashHandler64.exe
VRising/UnityPlayer.dll
VRising/VERSION
VRising/VRisingServer.exe
VRising/VRisingServer_Data/
VRising/baselib.dll
VRising/config/
VRising/licenses.txt
VRising/logs/
VRising/start_server_example.bat
VRising/steamapps/
VRising/steamclient.dll
VRising/steamclient64.dll
VRising/tier0_s.dll
VRising/tier0_s64.dll
VRising/vstdlib_s.dll
VRising/vstdlib_s64.dll