[Unit]
Description=Barotrauma Shutdown
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/bwinter_sc81
User=bwinter_sc81
Group=bwinter_sc81

ExecStart=/home/bwinter_sc81/baroboys/scripts/services/barotrauma/shutdown.sh

SuccessExitStatus=0
KillMode=control-group
TimeoutStartSec=300

StandardOutput=append:/var/log/baroboys/barotrauma_shutdown.log
StandardError=append:/var/log/baroboys/barotrauma_shutdown.log
