[Unit]
Description=Barotrauma Shutdown
DefaultDependencies=no
Before=poweroff.target halt.target reboot.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/bwinter_sc81
User=bwinter_sc81
Group=bwinter_sc81

ExecStart=/home/bwinter_sc81/baroboys/scripts/services/Barotrauma/shutdown.sh

SuccessExitStatus=0
KillMode=control-group
TimeoutStartSec=configured

StandardOutput=append:/var/log/baroboys/Barotrauma.log
StandardError=append:/var/log/baroboys/Barotrauma.log

[Install]
WantedBy=poweroff.target halt.target reboot.target
