[Unit]
Description=${GAME_NAME} Shutdown
DefaultDependencies=no
Before=poweroff.target halt.target reboot.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=${GAME_DIR}
User=bwinter_sc81
Group=bwinter_sc81

ExecStart=${BAROBOYS}/scripts/services/${GAME_NAME}/shutdown.sh
ExecStartPost=/usr/bin/bash -c 'echo "✅ game-shutdown.service launched at $(date)" >> ${LOG_FILE}'
ExecStopPost=/usr/bin/bash -c 'echo "🛑 game-shutdown.service finished shutdown at $(date)" >> ${LOG_FILE}'

SuccessExitStatus=0
KillMode=control-group
TimeoutStartSec=configured

StandardOutput=append:${LOG_FILE}
StandardError=append:${LOG_FILE}

[Install]
WantedBy=poweroff.target halt.target reboot.target
