[Unit]
Description=${GAME_NAME} Startup
Requires=game-setup.service
After=game-setup.service

[Service]
Type=simple
WorkingDirectory=${BAROBOYS}/${GAME_NAME}
User=bwinter_sc81
Group=bwinter_sc81

ExecStart=${BAROBOYS}/scripts/services/${GAME_NAME}/startup.sh
ExecStartPost=/usr/bin/bash -c 'echo "✅ game-startup.service launched at $(date)" >> ${LOG_FILE}'
ExecStopPost=/usr/bin/bash -c 'echo "🛑 game-startup.service finished shutdown at $(date)" >> ${LOG_FILE}'

SuccessExitStatus=0
KillMode=control-group
TimeoutStopSec=60

StandardOutput=append:${LOG_FILE}
StandardError=append:${LOG_FILE}

[Install]
WantedBy=multi-user.target