[Unit]
Description=Admin Server
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /opt/baroboys/admin_server.py
WorkingDirectory=/opt/baroboys
StandardOutput=append:/home/bwinter_sc81/baroboys/VRising/logs/admin_server.log
StandardError=append:/home/bwinter_sc81/baroboys/VRising/logs/admin_server.log
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
