[Unit]
Description=Every 5 minutes, check if server is idle.

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true
Unit=idle-check.service

[Install]
WantedBy=timers.target
