[Unit]
Description=Baroboys Provisioning Setup
After=network.target

[Service]
Type=oneshot
ExecStart=/root/baroboys/scripts/setup/root/setup_game.sh
RemainAfterExit=yes
