[Unit]
Description=Save & Commit Before Shutdown
DefaultDependencies=no
Requires=network-online.target
After=network-online.target

# This runs before system shutdown or vrising stop
Before=halt.target reboot.target
Before=vrising.service

[Service]
Type=oneshot
Environment=HOME=/root
ExecStart=/root/baroboys/scripts/teardown/shutdown.sh
ExecStopPost=/usr/bin/systemctl poweroff
StandardOutput=append:/home/bwinter_sc81/baroboys/VRising/logs/shutdown.log
StandardError=append:/home/bwinter_sc81/baroboys/VRising/logs/shutdown.log
TimeoutStartSec=300
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
