[Unit]
Description=Save & Commit Before Shutdown
DefaultDependencies=no
Requires=network-online.target
After=network-online.target

# Wait for vrising service to terminate.
Before=vrising.service

[Service]
Type=oneshot
Environment=HOME=/root
ExecStart=/usr/bin/bash /root/baroboys/scripts/teardown/shutdown.sh
ExecStopPost=/usr/bin/systemctl poweroff
StandardOutput=append:/home/bwinter_sc81/baroboys/VRising/logs/shutdown.log
StandardError=append:/home/bwinter_sc81/baroboys/VRising/logs/shutdown.log
RemainAfterExit=yes
TimeoutStartSec=300
