[Unit]
Description=Save & Commit Before Shutdown
DefaultDependencies=no
Requires=network-online.target
After=network-online.target

# Block shutdown until we run
Before=shutdown.target halt.target reboot.target
Before=vrising.service
Conflicts=vrising.service

[Service]
Type=oneshot
Environment=HOME=/root
ExecStart=/root/baroboys/scripts/teardown/shutdown.sh
TimeoutStartSec=180
RemainAfterExit=true

[Install]
WantedBy=shutdown.target
