[Unit]
Description=Baroboys Provisioning Setup
After=network.target

[Service]
Type=oneshot
ExecStart=/root/baroboys/scripts/teardown/shutdown.sh
RemainAfterExit=yes
