[Unit]
Description=Baroboys Provisioning Setup
After=network.target

[Service]
Type=oneshot
Environment=HOME=/root
ExecStart=/usr/bin/bash /root/baroboys/scripts/setup/startup.sh
ExecStartPost=/bin/systemctl start vrising.service
StandardOutput=append:/home/bwinter_sc81/baroboys/VRising/logs/startup.log
StandardError=append:/home/bwinter_sc81/baroboys/VRising/logs/startup.log

[Install]
WantedBy=multi-user.target
