[Unit]
Description=Check if V Rising is idle every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true
Unit=vrising-idle-check.service

[Install]
WantedBy=timers.target
