[Unit]
Description=Check if V Rising is idle every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true
Unit=vrising-idle-check.service

[Install]
WantedBy=timers.target
