[Unit]
Description=VRising Dedicated Server (baroboys)
Wants=network-online.target
After=network-online.target xvfb.service
Requires=xvfb.service

[Service]
Environment=DISPLAY=:0
WorkingDirectory=/home/bwinter_sc81/baroboys/VRising
User=bwinter_sc81
Group=bwinter_sc81

ExecStart=/usr/bin/wine \
  VRisingServer.exe \
  -persistentDataPath ./Data \
  -serverName "Mc's Playground" \
  -saveName "TestWorld-1" \
  -logFile ./logs/VRisingServer.log

KillMode=control-group
ExecStop=/bin/true
TimeoutStopSec=300
RemainAfterExit=yes
