[Unit]
Description=Shutdown V Rising if Idle
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=bwinter_sc81
Group=bwinter_sc81
WorkingDirectory=/home/bwinter_sc81/baroboys
ExecStart=/home/bwinter_sc81/baroboys/scripts/teardown/user/vrising_idle_check.sh
StandardOutput=append:/home/bwinter_sc81/baroboys/VRising/logs/vrising_idle_check.log
StandardError=append:/home/bwinter_sc81/baroboys/VRising/logs/vrising_idle_check.log
