[Unit]
Description=V Rising Startup
Requires=game-setup.service xvfb-startup.service

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/home/bwinter_sc81/baroboys/VRising
User=bwinter_sc81
Group=bwinter_sc81

Environment=DISPLAY=:0
ExecStart=/home/bwinter_sc81/baroboys/scripts/services/vrising/startup.sh
ExecStartPost=/usr/bin/bash -c 'echo "✅ vrising.service launched at $(date)" >> /var/log/baroboys/vrising_startup.log'
ExecStopPost=/usr/bin/bash -c 'echo "🛑 vrising.service finished shutdown at $(date)" >> /var/log/baroboys/vrising_startup.log'

SuccessExitStatus=0
KillMode=control-group
TimeoutStopSec=60

StandardOutput=append:/var/log/baroboys/vrising_startup.log
StandardError=append:/var/log/baroboys/vrising_startup.log

[Install]
WantedBy=multi-user.target