[Unit]
Description=V Rising Dedicated Server (Baroboys)
Wants=network-online.target
After=network-online.target xvfb.service
Requires=xvfb.service

[Service]
Type=simple
Environment=DISPLAY=:0
WorkingDirectory=/home/bwinter_sc81/baroboys/VRising
User=bwinter_sc81
Group=bwinter_sc81

ExecStartPost=/usr/bin/bash -c 'echo "✅ vrising.service launched at $(date)" >> /var/log/baroboys/vrising.log'
ExecStart=/home/bwinter_sc81/baroboys/scripts/services/vrising_launcher.sh
ExecStopPost=/usr/bin/bash -c 'echo "🛑 vrising.service finished shutdown at $(date)" >> /var/log/baroboys/vrising.log'

SuccessExitStatus=0
KillMode=control-group
TimeoutStopSec=60
SuccessExitStatus=0

StandardOutput=append:/var/log/baroboys/vrising.log
StandardError=append:/var/log/baroboys/vrising.log

Restart=on-failure
