[Unit]
Description=Baroboys Provisioning Setup
After=network.target

[Service]
Type=oneshot
Environment=HOME=/root
ExecStart=/usr/bin/bash /root/baroboys/scripts/services/vm-setup/startup.sh
StandardOutput=append:/var/log/baroboys/vm-startup.log
StandardError=append:/var/log/baroboys/vm-startup.log

[Install]
WantedBy=multi-user.target
