[Unit]
Description=Refresh Repo Startup
Requires=refresh-repo-refresh.service
After=refresh-repo-refresh.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root
User=root

ExecStart=/root/baroboys/scripts/services/refresh_repo/startup.sh

SuccessExitStatus=0
KillMode=control-group
TimeoutStartSec=300

StandardOutput=append:/var/log/baroboys/refresh_repo.log
StandardError=append:/var/log/baroboys/refresh_repo.log

[Install]
WantedBy=multi-user.target
