[Unit]                                                                                                                   
Description=VRising server service                                                                                       
Wants=network-online.target                                                                                              
Requires=xvfb.service                                                                                                    
                                                                                                                         
[Service]                                                                                                                
Environment=DISPLAY=:0.0                                                                                                 
ExecStart=wine /home/bwinter_sc81/baroboys/Barotrauma/VRisingServer.exe -persistentDataPath .\save-data -serverName "Malinux V Rising Server" -saveName "MyWorld-1" -logFile ".\logs\VRisingServer.log"
WorkingDirectory=/home/steam/Steam/steamapps/common/VRisingDedicatedServer/                                              
user=steam                                                                                                               
group=steam                                                                                                              
                                                                                                                         
[Install]                                                                                                                
WantedBy=multi-user.target    