[Unit]
Description=Save & Commit Before Shutdown
DefaultDependencies=no
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=HOME=/root
ExecStart=/usr/bin/bash /root/baroboys/scripts/services/vm-shutdown/src/shutdown.sh
ExecStopPost=/usr/bin/systemctl poweroff
StandardOutput=append:/var/log/baroboys/vm-shutdown.log
StandardError=append:/var/log/baroboys/vm-shutdown.log
TimeoutStartSec=300
