[Unit]
Description=Idle Check Setup
Requires=network-online.target refresh-repo-startup.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root
User=root

ExecStart=/root/baroboys/scripts/services/idle_check/setup.sh

SuccessExitStatus=0
KillMode=control-group
TimeoutStartSec=300

StandardOutput=append:/var/log/baroboys/idle_check_setup.log
StandardError=append:/var/log/baroboys/idle_check_setup.log

[Install]
WantedBy=multi-user.target
