[Unit]
Description=Idle Check Refresh
Requires=network-online.target refresh-repo-startup.service infrastructure-refresh.service
After=network-online.target refresh-repo-startup.service infrastructure-refresh.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/bwinter_sc81
User=bwinter_sc81

ExecStart=/home/bwinter_sc81/baroboys/scripts/services/idle_check/refresh.sh

SuccessExitStatus=0
KillMode=control-group
TimeoutStartSec=300

StandardOutput=append:/var/log/baroboys/idle_check.log
StandardError=append:/var/log/baroboys/idle_check.log

[Install]
WantedBy=multi-user.target
